<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" name="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" />
      </div>
      <div>
        <button class="btn btn-primary col-md-4" style="margin-right: 1rem">
          Sign Up
        </button>
        <button class="btn btn-primary col-md-4">Switch to Login</button>
      </div>
    </form>
  </div>
</div>
