<div class="row">
  <div class="col-xs-12">
    <img
      [src]="selectedRecipe.imagePath"
      alt="{{ selectedRecipe.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div appDroprown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toogle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()" style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ selectedRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of selectedRecipe.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
